@import "../color-themes";


.indiv_comment {
    border-radius: 0.5pc;
    @include themed('color', 'inputtext');
    @include themed('background-color', 'card');

    .comment_top_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        grid-gap: 0.1pc;
        justify-items: center;
        align-items: center;
        padding: 0pc;
        margin: 0pc;
        @include themed('color', 'darktext');

        .post_avatar {
            width: 1.5pc;
            height: 1.5pc;
            border-radius: 100%;
        }
        .comment_alias {
            padding: 0pc;
            margin: 0pc;
        }
        .comment_sep {
            padding: 0pc;
            margin: 0pc 0.6pc;
        }
        .comment_time {
            padding: 0pc;
            margin: 0pc;
        }
        .post_menu_button {
            margin-left: auto;
            @include themed('color', 'midtext');
        }
    }
    .comment_comment {
        padding: 0pc;
        padding-left: 2.5pc;
        margin: 0pc;
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .indiv_comment {
        padding: 1pc;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .indiv_comment {
        padding: 1pc;
    }
}