@import "../color-themes";

.footer_wrapper {
    position: relative;
    bottom: 0pc;
    z-index: 0;
    .footer {
        display: flex;
        align-items: center;
        position: relative;
        width: 100vw;
        @include themed('background-color', 'footer');
    
        h5{
            display: flex;
            margin: 1pc auto;
            @include themed('color', 'text');
            @include all_transition_durations;
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .footer_wrapper{
        .footer {
            height: 5vh;
            h5 {
                font-size: 0.7pc;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .footer_wrapper{
        .footer {
            height: 5vh;
            h5 {
                font-size: 0.5pc;
            }
        }
    }
}