@import "../color-themes";

.user_bio {
    position: absolute;
    top: 0;
    z-index: 9;
    grid-gap: 1pc;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
    @include themed('background-color', 'header');
    
    .userpfp {
        border-radius: 100%;
        padding: 0.5pc;
    }
    .title {
        font-weight: bolder;
        @include themed('color', 'darktext');
    }
    .themeicon {
        margin-left: auto;
        margin-right: 1pc;
        font-size: 1.5rem;
        animation-name: spin;
        @include themed('color', 'themeicon');
        @include all_transition_durations;

        // &:hover {
        //     font-size: 1.6rem;
        // }

        &.spin_forward {
            animation: spin_forward 1s ease-in-out forwards;
        }
        @keyframes spin_forward {
            from { 
                transform: rotate(0deg); 
            }
            to { 
                transform: rotate(360deg); 
            }
        }
        &.spin_backward {
            animation: spin_backward 1s ease-in-out forwards;
        }
        @keyframes spin_backward {
            from {
                transform: rotate(360deg); 
            }
            to { 
                transform: rotate(0deg); 
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
}

//Mobile
@media only screen and (max-width: 600px) {
}