@import "../color-themes";

.user_bio {
    position: absolute;
    top: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    grid-gap: 1pc;
    width: 100%;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    @include themed('background-color', 'card');
    
    .title {
        @include themed('color', 'text');
    }

    .signout_button {
        border: 0px;
        height: 7vh;
        @include themed('color', 'text');
        @include themed('background-color', 'inputfield');
    }
}

//Desktop
@media only screen and (min-width: 600px) {
}

//Mobile
@media only screen and (max-width: 600px) {
}