@import "../color-themes";

#root_child {
    height: 100%;
    @include themed('background-color', 'bg');
}

.home {
    display: flex;
    flex-direction: column;
    grid-gap: 1pc;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;

        .all_posts_container {
            height: 79vh;
            overflow-y: scroll;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    
    .make_post_container {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        height: 10vh;
        bottom: 0;
        width: 100%;
        @include themed('background-color', 'card');
    }
}

//Desktop
@media only screen and (min-width: 600px) {
}

//Mobile
@media only screen and (max-width: 600px) {
}