@import "../color-themes";

#root_child {
    height: 100%;
    @include themed('background-color', 'bg');
}

::-webkit-scrollbar {
    width: 5px;
    @include all_transition_durations;
    &:hover {
        width: 6px;
    }
}
::-webkit-scrollbar-track {
    @include themed('background-color', 'card');
    @include all_transition_durations;
}
::-webkit-scrollbar-thumb {
    @include themed('background-color', 'card');
    @include all_transition_durations;
    &:hover {
        @include themed('background-color', 'accent');
    }
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .all_posts_container {
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
        }
    }

    .post_button {
        position: absolute;
        border: 0px;
        border-radius: 100%;
        line-height: 4pc;
        font-size: 1rem;
        text-align: center;
        @include themed('color', 'text');
        @include themed('background-color', 'postbutton');
        @include all_transition_durations;
    
        &:hover {
            @include themed('color', 'accent');
            @include themed('background-color', 'postbuttonhover');
        }
    }
}


//Desktop
@media only screen and (min-width: 600px) {
    .home {
        .container {
            margin: 0 auto;
            width: 30pc;
            min-height: 100vh;

            .all_posts_container {
                height: 100vh;
                padding-top: 4.1pc;
            }
        }
        .post_button {
            bottom: 2pc;
            right: 3pc;
            height: 4pc;
            width: 4pc;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .home {
        .container {
            min-height: 100vh;

            .all_posts_container {
                height: 100vh;
                padding-top: 3.7pc;
            }
        }
        .post_button {
            bottom: 1.5pc;
            right: 1.5pc;
            height: 4pc;
            width: 4pc;
        }
    }
}