@import "../color-themes";

#root_child {
    height: 100%;
    @include themed('background-color', 'bg');
}

::-webkit-scrollbar {
    width: 3px;
    &:hover {
        width: 6px;
    }
}
::-webkit-scrollbar-track {
    @include themed('background-color', 'card');
    // background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
    @include themed('background-color', 'card');
    // background: rgb(255, 255, 255);
    &:hover {
        @include themed('background-color', 'accent');
    }
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;

        .all_posts_container {
            height: 79vh;
            overflow-y: scroll;
            display: flex;
            flex-direction: column-reverse;
        }
    }
    
    .make_post_container {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        height: 10vh;
        bottom: 0;
        width: 100%;
        @include themed('background-color', 'card');

        .post_input {
            border: 0px;
            height: 5vh;
            max-width: 40vw;
            margin: auto 0.1pc;
            padding: 0.5pc;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'inputfield');
        }
        // .post_attach_button {
        //     height: 3vh;
        //     width: 6vw;
        //     margin: auto 0.1pc;
        //     padding: 1pc;
        //     border-radius: 0.5pc;
        //     @include themed('color', 'accentplus');
        //     @include themed('background-color', 'inputfield');

        //     &::-webkit-file-upload-button {
        //         visibility: hidden;
        //     }
        //     &:before {
        //         content: 'Select some files';
        //         display: inline-block;
        //         // @include themed('background-color', 'inputfield');
        //         // border: 1px solid #999;
        //         // border-radius: 3px;
        //         // padding: 5px 8px;
        //         word-wrap: break-word;
        //         cursor: pointer;
        //     }
        //     &:hover::before {
        //         border-color: black;
        //     }
        //     &:active::before {
        //         @include themed('background-color', 'accent');
        //     }
        // }
        .post_post_input {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: auto 0.1pc;
            padding: 1pc;
            border-radius: 0.5pc;
            @include themed('color', 'accentplus');
            @include themed('background-color', 'inputfield');

            &:disabled {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .home {
        .container {
            margin: 0 auto;
            width: 30pc;
        }
        .make_post_container {
            justify-content: center;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .home {
        .container {
            // margin: 0 auto;
            // width: 30pc;
        }
        .make_post_container {
            justify-content: space-around;
        }
    }
}