@import "../color-themes";

.login_container {
    text-align: center;

    .login_bg {
        // position: absolute;
        // top: 50%; 
        // left: 50%;
        transform: translate(-50%, -50%);
        .circle {
            position: absolute;
            width: 20pc;
            height: 20pc;
            left: 3pc;
            top: 0pc;
            border-radius: 100%;
            background: #D2B7FF;
            transform: rotate( 27deg);
            mix-blend-mode: normal;
            filter: blur(1pc);
        }
        .line {
            position: absolute;
            width: 134px;
            height: 1225px;
            left: 407px;
            top: -29.18px;
            background: #7BFFB8;
            filter: blur(125px);
            border-radius: 39px;
            transform: rotate(27deg);
        }
    }

    .login {
        position: absolute;
        border-radius: 0.7pc;
        @include all_transition_durations;

        .logo_img {
        }
        
        .login_inputs {
            .text {
                @include themed('color', 'darktext');
            }
            .input_title_text {
                margin-bottom: 0.5pc;
                @include themed('color', 'darktext');
            }
            .input {
                border: 0pc;
                padding: 1pc;
                width: 10pc;
                height: 1pc;
                border-radius: 0.3pc;
                @include themed('color', 'inputtext');
                @include themed('background-color', 'inputfield');
            }
        }

        .login_button_container {
            margin-top: 3pc;
            margin-bottom: 1pc;

            .button {
                border: 0pc;
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                @include themed('color', 'darktext');
                @include themed('background-color', 'inputfield');
            }
            .button_text {
                font-weight: 400;
                font-size: 1rem;
                @include themed('color', 'darktext');
            }
            .login_button {
                @include all_transition_durations;
                &:hover{
                    @include themed('color', 'accent');
                    @include themed('background-color', 'accentplus');
                }
            }
            .signup_button {
                @include themed('color', 'darktext');
                @include themed('background-color', 'inputfield');
                @include all_transition_durations;
                &:hover{
                    @include themed('background-color', 'accent');
                }
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .login{
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        
        .logo_img {
            width: 70%;
        }

        .login_button {
            border-radius: 0.5pc;
            padding: 0pc;
            // margin: 0.3pc auto;
            height: 3pc;
            width: 12pc;
        }
        .signup_button {
            border-radius: 0.5pc;
            padding: 0pc;
            margin: 0.3pc auto;
            height: 3pc;
            width: 12pc;
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .login{
        margin: 0pc auto;
        padding: 2pc;
        width: 40vw;
        max-width: 15pc;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);

        .logo_img {
            width: 70%;
        }

        .login_text {
            margin-bottom: 2pc;
        }
        
        .login_button {
            border-radius: 0.5pc;
            padding: 0pc;
            margin: 0.3pc auto;
            height: 3pc;
            width: 12pc;
        }
        .signup_button {
            border-radius: 0.5pc;
            padding: 0pc;
            margin: 0.3pc auto;
            height: 3pc;
            width: 12pc;
        }
    }
}