@import "../color-themes";

.text {
    color: white;
}
.button {
    color: white;
    background-color: #2d2d2d;
}

.login_wrapper {
    position: relative;
    text-align: center;

    .login {
        position: absolute;
        top: 50%; left: 50%;
        border-radius: 0.7pc;
        @include themed('background-color', 'card');
        @include all_transition_durations;

        .login_title_text {
            @include themed('color', 'text');
            @include all_transition_durations;
            &:hover{
                @include themed('color', 'accent');
            }
        }
        
        .input_title_text {
            @include themed('color', 'text');
            margin-bottom: 0.5pc;
        }
        .input {
            // background-color: #2d2d2d;
            @include themed('background-color', 'inputfield');
            @include themed('color', 'inputtext');
            color: #c9c9c9;
            border: 0pc;
            padding: 0.5pc;
            width: 11pc;
            border-radius: 0.3pc;
        }

        .login_button_container {
            margin-top: 1pc;
            margin-bottom: 1pc;

            .button {
                border: 0pc;
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
            .login_button {
                @include themed('color', 'text');
                @include themed('background-color', 'accent');
                @include all_transition_durations;
                &:hover{
                    @include themed('color', 'accent');
                    @include themed('background-color', 'inputfield');
                }
            }
            .signup_button {
                @include themed('color', 'text');
                @include themed('background-color', 'inputfield');
                @include all_transition_durations;
                &:hover{
                    @include themed('background-color', 'accent');
                }
            }
            .button_text {
                font-weight: 400;
                font-size: 1rem;
                @include themed('color', 'text');
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .login_wrapper {
        .login{
            padding: 2pc;
            width: 40vw;
            max-width: 15pc;
            transform: translate(-50%, 50%);

            .login_text {
                margin-bottom: 2pc;
            }
            
            .login_button {
                border-radius: 0.5pc;
                padding: 0pc;
                margin: 0.3pc auto;
                height: 3pc;
                width: 12pc;
            }
            .signup_button {
                border-radius: 0.5pc;
                padding: 0pc;
                margin: 0.3pc auto;
                height: 3pc;
                width: 12pc;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .login_wrapper {
        .login{
            padding: 2pc;
            width: 60vw;
            max-width: 20pc;
            transform: translate(-50%, 45%);
            .login_text {
                font-size: 3rem;
                margin-bottom: 1pc;
            }
            .login_button {
                border-radius: 0.5pc;
                padding: 0pc;
                margin: 0.3pc auto;
                height: 3pc;
                width: 12pc;
            }
            .signup_button {
                border-radius: 0.5pc;
                padding: 0pc;
                margin: 0.3pc auto;
                height: 3pc;
                width: 12pc;
            }
        }
    }
}