@import "../color-themes";

.popup-overlay {
    @include themed('background-color', 'overlay');
    @include all_transition_durations;
    
    .menu_modal {
        @include themed('color', 'text');
        @include themed('background-color', 'cardmodal');
        @include all_transition_durations;

        .header {
            font-weight: bold;
        }
        .button {
            border: 0px;
            height: 7vh;
            margin: 0.15pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            font-family: 'GothamLight', Helvetica, Arial, Sans-Serif;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:hover {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }

            &.delete_button {
                font-weight: bold;
                @include themed('color', 'text');
                @include themed('background-color', 'accent');
            }
            &.share_button {
                @include themed('color', 'text');
            }
            &.cancel_button {
                @include themed('color', 'text');
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .popup-overlay {
        .menu_modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;

            .header {
                font-size: 1rem;
                margin: 0pc 0pc 1pc 0pc;
            }
            .content {
                font-size: 1rem;
                margin: 0pc 0pc 1pc 0pc;
            }
            .button {
                width: 100%;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .popup-overlay {
        .menu_modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .header {
                font-size: 1rem;
                margin: 0pc 0pc 1pc 0pc;
            }
            .content {
                font-size: 1rem;
                margin: 0pc 0pc 1pc 0pc;
            }
            .button {
                width: 100%;
            }
        }
    }
}