@import "../color-themes";

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    
    .mint_modal {
        color: #ffffff;
        background-color: #1e1e1e;

        .header {
            font-weight: bolder;
            margin: 0pc 0pc 1pc 0pc;
        }
        .content {
            margin: 0pc 0pc 1pc 0pc;
        }
        .close {
            float: right;
            border: 0pc;
            color: #ffffff;
            background-color: #3f3f3f;
        }
        .post_input {
            border: 0px;
            height: 5vh;
            max-width: 40vw;
            margin: auto 0.1pc;
            padding: 0.5pc;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'inputfield');
        }
        .post_post_input {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: auto 0.1pc;
            padding: 1pc;
            border-radius: 0.5pc;
            @include themed('color', 'accentplus');
            @include themed('background-color', 'inputfield');

            &:disabled {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }
        }
        .connect_button {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: 0.3pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            color: #000000;
            background-color: #ffffff;

            &:disabled {
                background-color: #1e1e1e;
                // @include themed('color', 'textplus');
                // @include themed('background-color', 'inputfieldoff');
            }
        }
        .connected {
            color: #85ff7a;
            background-color: #1a1a1a;
        }
        .balance_button {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: 0.3pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            @include themed('color', 'accentplus');
            @include themed('background-color', 'inputfield');
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .popup-overlay {
        .mint_modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .close {
                border-radius: 0.5pc;
                height: 4vh;
                min-width: 3vw;
            }
            .connect_button {
                width: 100%;
            }
            .balance_button {
                width: 100%;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .popup-overlay {
        .mint_modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .close {
                border-radius: 0.5pc;
                height: 4vh;
                min-width: 7vw;
            }
            .connect_button {
                width: 100%;
            }
            .balance_button {
                width: 100%;
            }
        }
    }
}