@import "../color-themes";

.popup-overlay {
    @include themed('background-color', 'overlay');
    @include all_transition_durations;
    
    .mint_modal {
        @include themed('color', 'text');
        @include themed('background-color', 'cardmodal');
        @include all_transition_durations;

        .header {
            font-weight: bolder;
            margin: 0pc 0pc 1pc 0pc;
        }
        .content {
            margin: 0pc 0pc 1pc 0pc;
        }
        .post_input {
            border: 0px;
            height: 5vh;
            max-width: 40vw;
            margin: auto 0.1pc;
            padding: 0.5pc;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'inputfield');
        }
        .post_post_input {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: auto 0.1pc;
            padding: 1pc;
            border-radius: 0.5pc;
            @include themed('color', 'accentplus');
            @include themed('background-color', 'inputfield');

            &:disabled {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }
        }
        .button {
            border: 0px;
            min-width: 7vw;
            margin: 0.3pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:hover:enabled {
                @include themed('color', 'text');
                @include themed('background-color', 'inputfieldoff');
            }

            &.connect_button {
                white-space: pre-wrap;
                color: #85ff7a !important;
                @include themed('background-color', 'inputfieldoff');
                &:disabled {
                    background-color: #1e1e1e;
                }
            }
            &.balance_button {
                @include themed('color', 'text');
                @include themed('background-color', 'inputfield');
            }
            &.cancel_button {
                @include themed('color', 'text');
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .popup-overlay {
        .mint_modal {
            padding: 2pc;
            border-radius: 0.5pc;
            margin: 2pc auto;
            width: 60%;

            .button {
                height: 7vh;
                width: 100%;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .popup-overlay {
        .mint_modal {
            padding: 2pc;            
            margin: 2pc auto;
            border-radius: 0.5pc;
            width: 70%;

            .button {
                height: 8vh;
                width: 100%;
            }
        }
    }
}