@import "../color-themes";

.postpage {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .header {
        position: absolute;
        top: 0;
        z-index: 9;
        display: flex;
        flex-direction: row;
        grid-gap: 1pc;
        width: 100%;
        height: 7vh;
        align-items: center;
        backdrop-filter: blur(10px);
        justify-content: flex-start;
        @include themed('background-color', 'header');
        
        .backbutton {
            @include themed('color', 'text');
            font-size: 1rem;
            padding-left: 1pc;
        }
        .title {
            font-weight: bolder;
        }
        .userpfp {
            border-radius: 50%;
            padding: 0.5pc;
        }
        .title {
            @include themed('color', 'text');
        }
    }

    .postdata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1pc;
        margin-top: 4.5pc;
        border-radius: 0.5pc;
        box-shadow: 0px 0px 6px 1px rgb(100 100 100 / 20%);
        @include themed('background-color', 'card');

        .post_avatar_container {
            display: flex;
            flex-direction: column;
            grid-gap: 0.1pc;
            .post_avatar {
                width: 2.5pc;
                height: 2.5pc;
                border-radius: 100%;
            }
        }
        .post_text_image_container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            grid-gap: 0.1pc;
            width: 100%;

            .alias_container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                grid-gap: 0.1pc;
                justify-items: center;
                align-items: center;
                @include themed('color', 'text');
                .post_alias {
                    font-weight: bolder;
                    margin: 0.4pc 0pc;
                }
                .post_sep {
                    margin: 0.4pc 0.6pc;
                }
                .post_time {
                    font-weight: lighter;
                    font-size: 0.8rem;
                    margin: 0.4pc 0pc;
                }
            }
            .post_text {
                @include themed('color', 'text');
            }
            .post_image {
                border-radius: 5%;
            }
            .post_interaction_container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                grid-gap: 0.2pc;
                .interact_button {
                    @include themed('color', 'textplus');
                    padding: 0.5pc 0pc 0pc 0pc;
                    margin: 0pc 0.5pc;
                    &.liked {
                        @include themed('color', 'accent');
                    }
                }
                .interact_text {
                    @include themed('color', 'textplus');
                    padding: 0.5pc 0pc 0pc 0pc;
                    margin: 0pc 0.5pc;
                }
            }
        }
        .post_menu_container {
            display: flex;
            flex-direction: column;
            grid-gap: 0.1pc;

            .post_menu_button {
                border: 0px;
                line-height: 40px;
                border-radius: 100%;
                width: 2.5pc;
                height: 2.5pc;
                font-size: 1rem;
                vertical-align: bottom;
                text-align: center;
                @include themed('color', 'textplus');
            }
        }

        &.isnft {
            box-shadow: inset 0px 0px 100px 20px white;
            background-image: url("../assets/Swirl.jpg");
            @include themed('background-color', 'cardnft');
        }
    }

    .comment_in_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.5pc;
        box-shadow: 0px 0px 6px 1px rgb(100 100 100 / 20%);

        .comment_in {
            border: 0px;
            height: 5vh;
            width: 100%;
            padding: 0.5pc 1pc;
            font-size: 1rem;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'card');
        }

        .button{
            border: 0px;
            height: 7vh;
            width: 20%;
            padding: 0.5pc;
            font-size: 1rem;
            border-radius: 0.5pc;
            font-family: 'GothamLight', Helvetica, Arial, Sans-Serif;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:hover:enabled  {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }

            &.pushcomment_button {
                @include themed('background-color', 'accent');
                &:disabled {
                    @include themed('color', 'textplus');
                    @include themed('background-color', 'inputfieldoff');
                }
            }
        }
    }
}

.post_text {
    @include themed('color', 'text');
}

.post_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
    p {
        padding: 0.1pc;
        margin: 0.1pc;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .postdata {
        margin: 0.5pc 1pc;
    }
    .comment_in_container {
        margin: 0.5pc 1pc;
    }

    .post_avatar {
        margin: 0pc 1pc 0pc 0pc;
    }
    .post_alias {
        margin: 0.4pc 0pc;
    }
    .post_text {
        margin: 0.4pc 0pc;
    }
    .post_image {
        width: 100%;
        margin: 1pc 0pc;
    }
    .post_interaction_container {
        margin-bottom: 0.5pc;
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .postdata {
        margin: 1pc auto;
        width: 29pc;
    }
    .comment_in_container {
        margin: 1pc auto;
        width: 31pc;
    }

    .post_avatar {
        margin: 0pc 1pc 0pc 0pc;
    }
    .post_alias {
        margin: 0.4pc 0pc;
    }
    .post_text {
        margin: 0.4pc 0pc;
    }
    .post_image {
        width: 100%;
        margin: 1pc 0pc;
    }
    .post_interaction_container {
        margin-bottom: 0.5pc;
    }
}

