@import "../color-themes";

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1pc;
    margin: 0.2pc 0.5pc 0.2pc 0.5pc;
    border-radius: 0.5pc;
    @include themed('background-color', 'card');

    .post_avatar_container {
        display: flex;
        .post_avatar {
            width: 2.5pc;
            height: 2.5pc;
            border-radius: 100%;
        }
    }
    .post_text_image_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 0.1pc;
        width: 20pc;

        .post_alias {
            margin: 0pc;
            padding-left: 1pc;
            @include themed('color', 'text');
        }
        .post_text_container {
            padding: 0pc 0pc 0pc 1pc;
            .post_text {
                margin: 0.2pc auto;
            }
        }
        .post_image {
            width: 17pc;
            margin-left: 1pc;
            margin-top: 1pc;
            border-radius: 5%;
        }
        .post_interaction_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            grid-gap: 0.2pc;
            .interact_button {
                color: white;
                padding: 0.5pc 0pc 0pc 0pc;
                margin: 0pc 0.5pc;
            }
            .interact_text {
                color: white;
                padding: 0.5pc 0pc 0pc 0pc;
                margin: 0pc 0.5pc;
            }
            .liked {
                color: rgb(206, 98, 98);
            }
        }
    }
    .post_menu_container {
        display: flex;
        flex-direction: column;
        // margin-left: auto;
        grid-gap: 0.1pc;
        .post_menu_button {
            border: 0px;
            line-height: 40px;
            border-radius: 100%;
            width: 2.5pc;
            height: 2.5pc;
            font-size: 1rem;
            vertical-align: bottom;
            text-align: center;
            @include themed('color', 'text');
            // @include themed('background-color', 'inputfield');
        }
    }
}
.isnft {
    @include themed('background-color', 'cardnft');
    .post_alias {
        margin: 0.5pc auto;
        padding-left: 1pc;
        @include themed('color', 'text');
    }
}

.post_text {
    @include themed('color', 'text');
}

.post_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
    p {
        padding: 0.1pc;
        margin: 0.1pc;
    }
}