@import "../color-themes";

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1pc;
    border-radius: 0.5pc;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
    @include themed('background-color', 'card');

    .post_avatar_container {
        display: flex;
        flex-direction: column;
        grid-gap: 0.1pc;
        .post_avatar {
            width: 2.5pc;
            height: 2.5pc;
            border-radius: 100%;
        }
    }
    .post_text_image_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 0.1pc;
        width: 100%;

        .alias_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            grid-gap: 0.1pc;
            justify-items: center;
            align-items: center;
            @include themed('color', 'text');
            .post_alias {
                font-weight: bolder;
                margin: 0.4pc 0pc;
            }
            .post_sep {
                margin: 0.4pc 0.6pc;
            }
            .post_time {
                font-weight: lighter;
                font-size: 0.8rem;
                margin: 0.4pc 0pc;
            }
        }
        .post_text {
            @include themed('color', 'text');
        }
        .post_image {
            border-radius: 5%;
        }
        .post_interaction_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            grid-gap: 0.2pc;
            .interact_button {
                @include themed('color', 'textplus');
                padding: 0.5pc 0pc 0pc 0pc;
                margin: 0pc 0.5pc;
                &.liked {
                    @include themed('color', 'accent');
                }
            }
            .interact_text {
                @include themed('color', 'textplus');
                padding: 0.5pc 0pc 0pc 0pc;
                margin: 0pc 0.5pc;
            }
        }
    }
    .post_menu_container {
        display: flex;
        flex-direction: column;
        grid-gap: 0.1pc;

        .post_menu_button {
            border: 0px;
            line-height: 40px;
            border-radius: 100%;
            width: 2.5pc;
            height: 2.5pc;
            font-size: 1rem;
            vertical-align: bottom;
            text-align: center;
            @include themed('color', 'textplus');
        }
    }

    &.isnft {
        box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 20%);
        background-image: url("../assets/holo.png");
        @include themed('background-color', 'cardnft');
    }
}

.post_text {
    @include themed('color', 'text');
}

.post_texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
    p {
        padding: 0.1pc;
        margin: 0.1pc;
    }
}


//Desktop
@media only screen and (min-width: 600px) {
    .post_avatar {
        margin: 0pc 1pc 0pc 0pc;
    }
    .post_alias {
        margin: 0.4pc 0pc;
    }
    .post_text {
        margin: 0.4pc 0pc;
    }
    .post_image {
        width: 100%;
        margin: 1pc 0pc;
    }
    .post_interaction_container {
        margin-bottom: 0.5pc;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .post_avatar {
        margin: 0pc 1pc 0pc 0pc;
    }
    .post_alias {
        margin: 0.4pc 0pc;
    }
    .post_text {
        margin: 0.4pc 0pc;
    }
    .post_image {
        width: 100%;
        margin: 1pc 0pc;
    }
    .post_interaction_container {
        margin-bottom: 0.5pc;
    }
}