@import "../color-themes";

.popup-overlay {
    @include themed('background-color', 'overlay');
    @include all_transition_durations;
    
    .post_modal {
        @include themed('color', 'text');
        @include themed('background-color', 'cardmodal');
        @include all_transition_durations;

        .close {
            float: right;
            border: 0pc;
            color: #ffffff;
            background-color: #3f3f3f;
        }
        .header {
            font-weight: bolder;
            margin: 0pc 0pc 1pc 0pc;
        }
        .content {
            margin: 0pc 0pc 1pc 0pc;
        }
        .post_input {
            border: 0px;
            height: 5vh;
            padding: 0.5pc;
            margin: 0.3pc auto;
            font-size: 1rem;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'inputfield');
        }
        .post_attach_button {
            padding: 0.5pc;
        }
        .button{
            border: 0px;
            height: 7vh;
            margin: 0.15pc auto;
            padding: 1pc;
            font-size: 1rem;
            border-radius: 0.5pc;
            font-family: 'GothamLight', Helvetica, Arial, Sans-Serif;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:hover:enabled  {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }

            &.post_post_button {
                @include themed('background-color', 'accent');
                &:disabled {
                    @include themed('color', 'textplus');
                    @include themed('background-color', 'inputfieldoff');
                }
            }
            &.mint_button {
                @include themed('background-color', 'buttonconnected');
                &:disabled {
                    @include themed('color', 'textplus');
                    @include themed('background-color', 'inputfieldoff');
                }
            }
            &.cancel_button {
                @include themed('color', 'text');
            }
        }
    }
}

.inputfile {
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    @include themed('color', 'text');
    @include themed('background-color', 'inputfield');
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5;
    display: inline-block;
    height: 5vh;
    border-radius: 0.5pc;
}

//Desktop
@media only screen and (min-width: 600px) {
    .popup-overlay {
        .post_modal {
            padding: 2pc;
            margin: 2pc auto;
            border-radius: 0.5pc;
            width: 55%;

            .post_input {
                width: 96%;
            }
            .inputfile + label {
                padding: 0.5pc;
                margin: 0.15pc auto;
                width: 96%;
            }

            .post_attach_button, .post_post_button, .mint_button, .cancel_button {
                width: 100%;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .popup-overlay {
        .post_modal {
            padding: 2pc;
            margin: 2pc auto;
            border-radius: 0.5pc;
            width: 70%;

            .post_input {
                width: 95%;
            }
            .inputfile + label {
                padding: 0.5pc;
                margin: 0.15pc auto;
                width: 95%;
            }
            
            .post_attach_button, .post_post_button, .mint_button, .cancel_button {
                width: 100%;
            }
        }
    }
}