@import "../color-themes";

.popup-overlay {
    @include themed('background-color', 'overlay');
    @include all_transition_durations;
    
    .post_modal {
        @include themed('color', 'text');
        @include themed('background-color', 'cardmodal');
        @include all_transition_durations;

        .close {
            float: right;
            border: 0pc;
            color: #ffffff;
            background-color: #3f3f3f;
        }
        .header {
            font-weight: bolder;
            margin: 0pc 0pc 1pc 0pc;
        }
        .content {
            margin: 0pc 0pc 1pc 0pc;
        }
        .post_input {
            border: 0px;
            height: 5vh;
            padding: 0.5pc;
            margin: 0.3pc auto;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'inputfield');
        }
        .post_attach_button {
            padding: 0.5pc;
        }
        .button{
            border: 0px;
            height: 7vh;
            margin: 0.15pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            font-family: 'GothamLight', Helvetica, Arial, Sans-Serif;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:hover:enabled  {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }

            &.post_post_button {
                &:disabled {
                    @include themed('color', 'textplus');
                    @include themed('background-color', 'inputfieldoff');
                }
            }
            &.mint_button {
                &:disabled {
                    @include themed('color', 'textplus');
                    @include themed('background-color', 'inputfieldoff');
                }
            }
            &.cancel_button {
                @include themed('color', 'text');
            }
        }
    }
}

.inputfile {
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    color: rgb(217, 196, 198);
    background-color: rgb(158, 45, 59);
    cursor: pointer;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    padding: 0.5pc;
    width: 94%;
    border-radius: 0.5pc;
    // height: 5vh;
}

//Desktop
@media only screen and (min-width: 600px) {
    .popup-overlay {
        .post_modal {
            padding: 2pc;
            margin: 2pc auto;
            border-radius: 0.5pc;
            width: 55%;
    
            .close {
                border-radius: 0.5pc;
                height: 2pc;
                min-width: 2pc;
            }
            .post_input {
                width: 97%;
            }
            .post_post_button {
                width: 100%;
            }
            .mint_button {
                width: 100%;
            }
            .cancel_button {
                width: 100%;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .popup-overlay {
        .post_modal {
            padding: 2pc;
            margin: 2pc auto;
            border-radius: 0.5pc;
            width: 70%;
    
            .close {
                border-radius: 0.5pc;
                height: 2pc;
                min-width: 2pc;
            }
            .post_input {
                width: 92%;
            }
            .post_attach_button {
                width: 100%;
            }
            .post_post_button {
                width: 100%;
            }
            .mint_button {
                width: 100%;
            }
            .cancel_button {
                width: 100%;
            }
        }
    }
}