@import "../color-themes";

.spinner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 10;

    .spinner {
        width: 2pc;
        height: 2pc;
        margin-top: 1pc;
        border: 0.5pc solid #bfffa5;
        @include themed('border-left-color', 'accentalt');
        border-radius: 50%;
        background: transparent;
        animation-name: rotate-s-loader;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: linear;
        position: relative;
    }
      
    @keyframes rotate-s-loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}