@import "../color-themes";

#root {
    min-height: 100%;
}
.userpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        position: absolute;
        top: 0;
        // bottom: 0px;
        z-index: 9;
        display: flex;
        flex-direction: row;
        grid-gap: 1pc;
        width: 100%;
        height: 7vh;
        align-items: center;
        backdrop-filter: blur(10px);
        justify-content: flex-start;
        background-color: #1e1e1e75;
        // @include themed('background-color', 'card');
        
        .backbutton {
            color: rgb(255, 255, 255);
            font-size: 1rem;
            padding-left: 1pc;
        }
        .userpfp {
            border-radius: 50%;
            padding: 0.5pc;
        }
        .title {
            color: rgb(255, 255, 255);
            // @include themed('color', 'text');
        }
    
        .signout_button {
            border: 0px;
            height: 7vh;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
        }
    }
    .userdata {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 7pc;

        .userpfp {
            border-radius: 100%;
            padding: 0.5pc;
        }
        .username {
            color: antiquewhite;
            // @include themed('color', 'text');
        }
        .signout_button {
            border: 0px;
            min-width: 33vw;
            height: 6vh;
            border-radius: 0.5pc;
            margin: 0.3pc auto;
            color: #ffffff;
            background-color: rgb(30, 30, 30);
        }
        .connect_button {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: 0.3pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            // @include themed('color', 'text');
            // @include themed('background-color', 'inputfield');
            color: #ffffff;
            background-color: rgb(30, 30, 30);

            &:disabled {
                background-color: #1e1e1e;
                // @include themed('color', 'textplus');
                // @include themed('background-color', 'inputfieldoff');
            }
        }
        .connected {
            color: #85ff7a;
        }
        .balance_button {
            border: 0px;
            height: 7vh;
            min-width: 7vw;
            margin: 0.3pc auto;
            padding: 1pc;
            border-radius: 0.5pc;
            white-space: pre-wrap;
            color: #ffffff;
            background-color: rgb(30, 30, 30);
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .home {
        .container {
            margin: 0 auto;
            width: 30pc;
            min-height: 94vh;

            .all_posts_container {
                height: 85vh;
            }
        }
        .make_post_container {
            justify-content: center;
        }
    }
    .popup-overlay {
        .modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .close {
                border-radius: 0.5pc;
                height: 4vh;
                min-width: 3vw;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .home {
        .container {
            min-height: 94vh;

            .all_posts_container {
                height: 85vh;
            }
        }
        .make_post_container {
            justify-content: space-around;
        }
    }
    .popup-overlay {
        .modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .close {
                border-radius: 0.5pc;
                height: 4vh;
                min-width: 7vw;
            }
        }
    }
}