@import "../color-themes";

#root {
    min-height: 100%;
}

.userpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        position: absolute;
        top: 0;
        z-index: 9;
        display: flex;
        flex-direction: row;
        grid-gap: 1pc;
        width: 100%;
        height: 7vh;
        align-items: center;
        backdrop-filter: blur(10px);
        justify-content: flex-start;
        @include themed('background-color', 'card');
        
        .backbutton {
            @include themed('color', 'text');
            font-size: 1rem;
            padding-left: 1pc;
            // padding-right: 1pc;
        }
        .title {
            font-weight: bolder;
        }
        .userpfp {
            border-radius: 50%;
            padding: 0.5pc;
        }
        .title {
            @include themed('color', 'text');
        }
    }
    .userdata {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 6pc;
        padding: 2pc 2pc;
        border-radius: 0.5pc;
        width: 70%;
        max-width: 12pc;
        @include themed('background-color', 'card');

        .container {
            position: relative;
        }
        .userpfp {
            opacity: 1;
            display: block;
            padding: 0.5pc;
            border-radius: 100%;
            backface-visibility: hidden;
        }
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            @include all_transition_durations;

            .pfpupdate {
                font-size: 2rem;
            }
            #fileInput{
                display: none;
            }
            #icon{
                width: 100px;
                cursor: pointer;
            }
        }
        .container:hover .image {
            @include all_transition_durations;
            opacity: 0.3;
        }
        .container:hover .middle {
            @include all_transition_durations;
            opacity: 1;
        }

        .username {
            font-weight: bolder;
            font-size: 1rem;
            margin: 1pc 0pc 0.2pc 0pc;
            @include themed('color', 'text');
        }
        .fullname {
            font-weight: 400;
            font-size: 1rem;
            margin: 0.2pc 0pc;
            @include themed('color', 'text');
        }
        .email {
            font-weight: 400;
            font-size: 1rem;
            margin: 0.2pc 0pc;
            @include themed('color', 'text');
        }
        .bio {
            font-weight: 400;
            font-size: 1rem;
            margin: 0.2pc 0pc 1pc 0pc;
            @include themed('color', 'text');
        }
        .edit_input {
            border: 0px;
            height: 5vh;
            width: 90%;
            padding: 0.5pc;
            margin: 0.1pc auto;
            border-radius: 0.5pc;
            @include themed('color', 'inputtext');
            @include themed('background-color', 'inputfield');
        }
        .button {
            border: 0px;
            width: 11pc;
            height: 7vh;
            border-radius: 0.5pc;
            margin: 0.3pc auto;
            @include themed('color', 'text');
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:hover:enabled {
                @include themed('color', 'textplus');
                @include themed('background-color', 'inputfieldoff');
            }
            
            &.remove_pfp_button {
                width: 100%;
                margin: 0.1pc auto;
                @include themed('color', 'text');
                @include themed('background-color', 'inputfield');
            }
            &.signout_button {
                @include themed('color', 'text');
                @include themed('background-color', 'inputfield');
            }
            &.connect_button {
                white-space: pre-wrap;
                &:disabled {
                    @include themed('background-color', 'buttonconnected');
                }
            }
            &.balance_button {
                &:disabled {
                    color: #85ff7a !important;
                    @include themed('background-color', 'inputfieldoff');
                }
            }
            &.savedits_button {
                @include themed('color', 'text');
                @include themed('background-color', 'accent');
                &:hover {
                    @include themed('color', 'accent');
                    @include themed('background-color', 'inputfieldoff');
                }
            }
        }
    }

    .Toastify__toast--success {
        background: #1e1e1e;
    }
    .Toastify__toast-body {
        text-align: center;
        margin: auto 0;
        flex: 1 1 auto;
        padding: 6px;
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .home {
        .container {
            margin: 0 auto;
            width: 30pc;
            min-height: 94vh;

            .all_posts_container {
                height: 85vh;
            }
        }
        .make_post_container {
            justify-content: center;
        }
    }
    .popup-overlay {
        .modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .close {
                border-radius: 0.5pc;
                height: 4vh;
                min-width: 3vw;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .home {
        .container {
            min-height: 94vh;

            .all_posts_container {
                height: 85vh;
            }
        }
        .make_post_container {
            justify-content: space-around;
        }
    }
    .popup-overlay {
        .modal {
            padding: 2pc;
            margin: 2pc;
            border-radius: 0.5pc;
    
            .close {
                border-radius: 0.5pc;
                height: 4vh;
                min-width: 7vw;
            }
        }
    }
}