$transition_duration: 300ms;

$themes: (
    light: (
        accent: #58ABAE,
        accentplus: #85e4e7,
        bg: rgb(255, 255, 255),
		card: #f1f1f1,
		cardnft: #ffe8e8,
		cardmodal: #ffffff,
		inputfield: rgb(235, 235, 235),
		inputfieldoff: rgb(190, 190, 190),
		footer: rgb(235, 235, 235),
        
		scrollbartrack: rgb(255, 14, 14),
		scrollbarthumb: rgb(150, 73, 73),
		scrollbarthumb_hover: rgb(173, 120, 120),

		overlay: rgba(0, 0, 0, 0.7),
        
		header: rgb(241 241 241 / 50%),
        
		postbutton: rgb(219, 219, 219),
		postbuttonhover: rgb(245, 245, 245),

		walletbutton: rgb(41, 41, 41),
		walletbuttonoff: rgb(30, 30, 30),
		mintbutton: rgb(41, 41, 41),
		mintbuttonoff: rgb(20, 20, 20),

        text: rgb(10, 10, 10),
        textplus: rgb(25, 25, 25),
		alttext: rgb(255, 255, 255),
		inputtext: rgb(15, 15, 15),
    ),
    dark: (
        accent: #9794c8,
        accentplus: #f9c7d4,
        bg: rgb(20, 20, 20),
		card: rgb(30, 30, 30),
		cardnft: rgb(10, 10, 10),
		cardmodal: rgb(30, 30, 30),
		inputfield: #2d2d2d,
		inputfieldoff: #141414,
		footer: #ff567d,
        
		scrollbartrack: rgb(255, 14, 14),
		scrollbarthumb: rgb(150, 73, 73),
		scrollbarthumb_hover: rgb(173, 120, 120),

		overlay: rgba(0, 0, 0, 0.7),
        
		header: rgba(30, 30, 30, 0.459),
        
		postbutton: rgb(41, 41, 41),
		postbuttonhover: rgb(51, 51, 51),

		walletbutton: rgb(41, 41, 41),
		walletbuttonoff: rgb(30, 30, 30),
		mintbutton: rgb(41, 41, 41),
		mintbuttonoff: rgb(20, 20, 20),

        text: rgb(255, 255, 255),
        textplus: rgb(155, 155, 155),
		alttext: rgb(20, 20, 20),
		inputtext: rgb(201, 201, 201),
    ),
);

@mixin themed($key, $color) {
	@each $theme-name, $theme-color in $themes {
		.theme-#{$theme-name} & {
			#{$key}: map-get(map-get($themes, $theme-name), $color)
		}
	}
}

@mixin all_transition_durations {
    transition-duration: $transition_duration;
    -moz-transition-duration: $transition_duration;
    -webkit-transition-duration: $transition_duration;
}