$transition_duration: 300ms;

$themes: (
    light: (
        accent: #aea0ff,
        accentplus: #ff567d,
        accentalt: rgb(155, 255, 124),
        bg: rgb(255, 255, 255),
		card: #ffffff,
		cardnft: #ffdbe4,
		cardmodal: #ffffff,
		inputfield: rgb(235, 235, 235),
		inputfieldoff: rgb(190, 190, 190),
		footer: rgb(235, 235, 235),

		overlay: rgba(255, 255, 255, 0.7),
        
		header: rgb(241 241 241 / 50%),
        themeicon: #b8b8b8,

		button: rgb(255, 255, 255),
		buttonoff: rgb(245, 245, 245),
		buttonconnected: rgb(155, 255, 124),
        
		postbutton: rgb(255, 255, 255),
        postbuttonshadow: -4px 6px 6px 1px rgb(0 0 0 / 10%),
		postbuttonhover: rgb(255, 255, 255),
        postbuttonhovershadow: 0px 0px 10px 5px rgb(0 0 0 / 20%),

		walletbutton: rgb(41, 41, 41),
		walletbuttonoff: rgb(30, 30, 30),
		mintbutton: rgb(41, 41, 41),
		mintbuttonoff: rgb(20, 20, 20),

		interactionbuttons: #cccccc,

        darktext: rgb(10, 10, 10),
        midtext: #636363,
		lighttext: rgb(255, 255, 255),
		inputtext: rgb(15, 15, 15),
    ),
    dark: (
        accent: #9794c8,
        accentplus: #f9c7d4,
        accentalt: rgb(155, 255, 124),
        bg: rgb(20, 20, 20),
		card: rgb(30, 30, 30),
		cardnft: rgb(10, 10, 10),
		cardmodal: rgb(30, 30, 30),
		inputfield: #2d2d2d,
		inputfieldoff: #141414,
		footer: #ff567d,

		overlay: rgba(0, 0, 0, 0.7),
        
		header: rgba(30, 30, 30, 0.459),
        themeicon: #ffffff,

		button: rgb(255, 255, 255),
		buttonoff: rgb(245, 245, 245),
		buttonconnected: rgb(155, 255, 124),
        
		postbutton: rgb(255, 255, 255),
        postbuttonshadow: rgb(0 0 0 / 20%) 0px 0px 10px 5px,
		postbuttonhover: rgb(255, 255, 255),
        postbuttonhovershadow: rgb(0 0 0 / 20%) 0px 0px 10px 5px,

		walletbutton: rgb(41, 41, 41),
		walletbuttonoff: rgb(30, 30, 30),
		mintbutton: rgb(41, 41, 41),
		mintbuttonoff: rgb(20, 20, 20),

        darktext: rgb(255, 255, 255),
        midtext: rgb(155, 155, 155),
		lighttext: rgb(20, 20, 20),
		inputtext: rgb(201, 201, 201),
    ),
);

@mixin themed($key, $color) {
	@each $theme-name, $theme-color in $themes {
		.theme-#{$theme-name} & {
			#{$key}: map-get(map-get($themes, $theme-name), $color)
		}
	}
}

@mixin all_transition_durations {
    transition-duration: $transition_duration;
    -moz-transition-duration: $transition_duration;
    -webkit-transition-duration: $transition_duration;
}