@import "./color-themes";

@font-face {
    font-family: "FonsecaBold";
    font-style: normal;
    src: local("FonsecaBold"), url("./assets/fonts/FonsecaBold.otf") format("opentype");
}
@font-face {
    font-family: "GothamLight";
    font-style: normal;
    src: local("GothamLight"), url("./assets/fonts/GothamLight.otf") format("opentype");
}
@font-face {
    font-family: "Marvin 400";
    font-style: normal;
    src: local("Marvin 400"), url("./assets/fonts/Marvin 400.otf") format("opentype");
}
@font-face {
    font-family: "MontserratAlternates-Regular";
    font-style: normal;
    src: local("MontserratAlternates-Regular"), url("./assets/fonts/MontserratAlternates-Regular.woff");
}
@font-face {
    font-family: "RousseauDeco";
    font-style: normal;
    // font-weight: bold;
    // font-display: swap;
    src: local("RousseauDeco"), url("./assets/fonts/RousseauDeco.ttf") format("truetype");
}

$scroll_width: 1rem;
$scroll_track_color: rgba(210, 210, 210, 0.5);
$scroll_thumb_color: rgba(180, 180, 180, 0.5);
$scroll_accent_color: rgba(140, 140, 140, 0.5);

html, body {
	height: 100%;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'GothamLight', Helvetica, Arial, Sans-Serif;
    // background-color: rgb(128, 128, 128);
    @include themed('background-color', 'bg');
}

#root {
    height: 100%;
}
#body_child {
	height: 100%;
	// width: 100%;
    // margin: 0px;
    // padding: 0px;
    // overflow-x: hidden;
    // font-family: 'GothamLight', Helvetica, Arial, Sans-Serif;
    // background-color: rgb(128, 128, 128);
    @include themed('background-color', 'bg');
}

//Desktop
@media only screen and (min-width: 600px) {
    body::-webkit-scrollbar {
        width: $scroll_width;
        @include all_transition_durations;
    }
    
    body::-webkit-scrollbar-track {
        background: $scroll_track_color;
    }
    
    body::-webkit-scrollbar-thumb {
        background: $scroll_thumb_color;
        @include all_transition_durations;
        &:hover {
            background: $scroll_accent_color;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    body::-webkit-scrollbar {
        width: 0pc;
    }
}